# run scripts with root privileges
# @see https://docs.npmjs.com/misc/scripts#user
unsafe-perm=true

# NPM Taobao registry
registry=https://registry.npm.taobao.org

# Taobao node binary mirrors
nodejs_org_mirror=https://npm.taobao.org/mirrors/node
nvm_nodejs_org_mirror=https://npm.taobao.org/mirrors/node
nvm_iojs_org_mirror=https://npm.taobao.org/mirrors/iojs
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver
operadriver_cdnurl=https://npm.taobao.org/mirrors/operadriver
electron_mirror=https://npm.taobao.org/mirrors/electron
fse_binary_host_mirror=https://npm.taobao.org/mirrors/fsevents
sass_binary_site=https://npm.taobao.org/mirrors/node-sass
puppeteer_download_host=https://npm.taobao.org/mirrors
